backend:
  replicaCount: 1
  image:
    repository: ""
    tag: ""
  service:
    port: 8080
  env:
    DB_HOST: ""
    DB_PORT: "5432"
    DB_NAME: ""
    MODEL_SERVER_URL: "http://model-svc:5000"

frontend:
  replicaCount: 1
  image:
    repository: ""
    tag: ""
  service:
    port: 3000
  env:
    BACKEND_API_URL: "http://backend:8080"

model:
  replicaCount: 1
  image:
    repository: ""
    tag: ""
  service:
    port: 5000

ingress:
  enabled: true
  host: jami.movie.review.site
  className: alb

  annotations:
    kubernetes.io/ingress.class: alb
    alb.ingress.kubernetes.io/scheme: internet-facing
    alb.ingress.kubernetes.io/target-type: ip
    alb.ingress.kubernetes.io/certificate-arn: arn:aws:acm:ap-south-1:YOUR_ACCOUNT_ID:certificate/YOUR_CERT_ID #changeit
    alb.ingress.kubernetes.io/listen-ports: '[{"HTTP":80,"HTTPS":443}]'
    alb.ingress.kubernetes.io/ssl-redirect: '443'

